html, body {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Nanum Pen Script';
  background-image: url('wave.svg');
  background-size: cover;
}

#title {
  text-align: center;
  font-size: 5em;
  font-weight: bolder;
  color: orange;
  height: fit-content;
  margin:0 auto;
}

body > * {
  width: 600px;
  height: auto;
  margin: auto; 
}
.square {
  width: 20px;
  aspect-ratio: 1/1;
  flex: 1 1 auto;
}

.square-row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: inherit; */
  flex: 1 1 auto;
}

.sketch-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 70%;
  margin: 2% auto;
  border: 1px solid black;
  background-color: white;
  
}

.scale-container {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}



.color-size-box {
  display: flex;
  justify-content: space-around;
  margin: 1% auto;
}
